.App {
  max-width: 700px;
  width: 90%;
  margin: auto;
  position: relative;
  color: white;
}
.heading {
  text-align: center;
}

.clearAll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #232323;
}
